/* Menu */

.navbar--overflow {
  overflow-x: auto;
}

.navbar--fixed__container {
  padding-top: calc(50px + 1em);
  padding-bottom: 1em;
}

/* Remove unnecessary margin from cookie banner */
.navbar--fixed__container > *:nth-child(3) {
  margin-top: 0 !important;
}

.body--bg-img {
  background: url("/img/bg.jpg");
  background-size: cover;
}

.navbar__item--sides {
  width: 10rem;
  text-align: center;
  display: inline-block !important;
}

.navbar__center {
  margin: 0 auto;
  display: flex;
}

/* Make it consistent with the container */

@media only screen and (min-width: 1410px) {
  .navbar__center {
    min-width: 1127px !important;
  }
}

/* Home Cards */

.home__team__actions {
  display: flex !important;
  align-items: center !important;
  overflow-x: auto !important;
  padding-right: 0 !important;
}

.home__team__actions::after {
  content: "";
  padding: 0.5rem;
}

.home__team__actions > * {
  white-space: nowrap;
}

.home__team__actions > *:first-child {
  margin-left: auto;
}

.home__team__img {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
}

.home__team__description {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.home__team__grid {
  margin-bottom: 1rem !important;
}

.home__team__grid__item {
  text-align: center;
}

.home__team__projects {
  display: flex;
  overflow-x: auto;
}

.home__team__projects__cards {
  display: inline-flex !important;
  justify-content: center;
  align-items: center;
  padding: 0 5px;
}

.home__team__projects__cards > .card {
  width: 20rem !important;
  height: 10rem !important;
  margin: 5px 0 !important;
}

.home__team__projects__cards > .card:not(:last-child) {
  margin-right: 1rem !important;
}

/* Community Section */
.home__community__header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home__community__links {
  margin-top: 1rem !important;
}

/* Footer */
.footer__copyright {
  display: flex !important;
  align-items: center;
}

/* Cookie Consent Body */
.cookie {
  border-radius: 0.285714rem !important;
  padding: 1rem 2rem !important;
}
