<div class="ui menu fixed blue inverted ui__menu--fixed--overflow">
    <div class="header item">
        OpenSDCP
    </div>
    <div class="right menu">
        <a class="item active">
            <i class="code icon"></i>
            Software
        </a>
        <a class="item">
            <i class="microchip icon"></i>
            Hardware
        </a>
        <a class="item">
            <i class="globe icon"></i>
            Network
        </a>
        <a class="item">
            <i class="book icon"></i>
            Docs
        </a>
        <a class="item">
            <i class="rss icon"></i>
            Blog
        </a>
        <a class="item">
            <i class="eye icon"></i>
            Demo
        </a>
        <a class="item">
            <i class="users icon"></i>
            Forum
        </a>
        <a class="item">
            <i class="slideshare icon"></i>
            Wiki
        </a>
        <a class="item">
            <i class="comments icon"></i>
            Chat
        </a>
        <a class="item">
            <i class="code branch icon"></i>
            Source Code
        </a>
    </div>
</div>