<!doctype html>
<html lang="en">

<head>
  <title>OpenSDCP | Home</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
    crossorigin="anonymous">
  <!-- Iconicons -->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <!-- Custom styles -->
  <link rel="stylesheet" href="/css/common.css">
</head>

<body>

  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
    <!-- Logo -->
    <a class="navbar-brand" href="/">
      <img src="/img/brand.png" height="40" alt="">
    </a>
    <!-- Toggler -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Navigation -->
    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav ml-lg-auto">
        <li class="nav-item active">
          <a href="/" class="nav-link">Home</a>
        </li>
        <div class="nav-item-divider"></div>
        <li class="nav-item">
          <a href="https://hardware.opensdcp.org" class="nav-link">Hardware</a>
        </li>
        <li class="nav-item">
          <a href="https://software.opensdcp.org" class="nav-link">Software</a>
        </li>
        <li class="nav-item">
          <a href="https://network.opensdcp.org" class="nav-link">Network</a>
        </li>
        <div class="nav-item-divider"></div>
        <li class="nav-item">
          <a href="https://docs.opensdcp.org" class="nav-link" title="The OpenSDCP Docs">Docs</a>
        </li>
        <li class="nav-item">
          <a href="https://blog.opensdcp.org" class="nav-link" title="The OpenSDCP Blog">Blog</a>
        </li>
        <li class="nav-item">
          <a href="https://forum.opensdcp.org" class="nav-link" title="The OpenSDCP Forum">Forum</a>
        </li>
        <!-- Search -->
        <form class="form-inline ml-lg-auto form-inline-nav-top">
          <div class="input-group">
            <input type="text" class="form-control text-secondary" placeholder="Search ..." aria-label="Search ...">
            <span class="input-group-btn">
              <button class="btn btn-secondary" type="button">
                <span class="ion-android-search"></span>
              </button>
            </span>
          </div>
        </form>
        <div class="nav-item-divider"></div>
        <!-- Version Chooser -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            v2017.12
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Latest (v2017.12)</a>
            <a class="dropdown-item" href="#">v2017.6 (LTS)</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">About OpenSDCP Versions</a>
          </div>
        </li>
        <!-- Github logo -->
        <li class="nav-item active">
          <a href="https://github.com/opensdcp" class="nav-link ion-social-github nav-link-github-desktop" title="OpenSDCP on Github">
            <span class="nav-link-github-mobile">GitHub</span>
          </a>
        </li>
      </ul>
    </div>
  </nav>

  <!-- Main Content Area -->
  {{content}}

  <!-- Footer -->
  <nav class="navbar navbar-light bg-light">
    <span class="navbar-text">
      This page is still work in progress.
    </span>
    <span class="navbar-text">
      Follow the development and contribute over at
      <a href="https://github.com/opensdcp">GitHub</a>!
    </span>
  </nav>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
    crossorigin="anonymous"></script>
  </body>
  
  </html>
