<div class="ui segment">
    <!-- Header -->
    <h2 class="ui centered header home__community__header">
        <div class="content">
            Community
            <div class="sub header">Connect to thousands of satellite enthusiasts!</div>
        </div>
    </h2>
    <!-- Description -->
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident, beatae corporis fugiat eum quam quae obcaecati iste
        nostrum tempora expedita enim totam omnis! Fugit numquam, consectetur explicabo, ipsum cum minus odio illo, quia
        error inventore quis? Vero, doloremque laborum! Quia totam tenetur sit esse consectetur id in voluptates labore aliquid.
    </p>
    <!-- Services -->
    <div class="ui three stackable cards home__community__links">
        <a class="ui card" href="{{site.baseurl}}/forum">
            <div class="content">
                <h2 class="ui icon header">
                    <i class="users icon"></i>
                    <div class="content">
                        Forum
                        <div class="sub header">A persistent place for discussions, proposals and support</div>
                    </div>
                </h2>
            </div>
        </a>
        <a class="ui card" href="{{site.baseurl}}/wiki">
            <div class="content">
                <h2 class="ui icon header">
                    <i class="slideshare icon"></i>
                    <div class="content">
                        Wiki
                        <div class="sub header">Community-driven, democratic documentation and detailed guides</div>
                    </div>
                </h2>
            </div>
        </a>
        <a class="ui card" href="{{site.baseurl}}/chat">
            <div class="content">
                <h2 class="ui icon header">
                    <i class="comments icon"></i>
                    <div class="content">
                        Chat
                        <div class="sub header">Quick and direct support from the community</div>
                    </div>
                </h2>
            </div>
        </a>
    </div>
</div>