<!-- Overview -->
<h4 class="ui horizontal divider header">
    <i class="compass icon"></i>
    Overview
</h4>
<div class="ui stackable two column grid">
    {% if include.img-left == "true" %}
    <div class="five wide column home__team__img">
        <img class="ui centered medium rounded image" src="/img/{{include.img-src}}">
    </div>
    <div class="eleven wide column">
        <div class="home__team__description">
            <p>
                {{include.description}}
            </p>
            <div class="ui internally celled three column grid home__team__grid">
                <div class="column grid home__team__grid__item">
                    <i class="users icon"></i> {{include.contributors}}
                </div>
                <div class="column home__team__grid__item">
                    <i class="lock open icon"></i> {{include.license}}
                </div>
                <div class="column home__team__grid__item">
                    <i class="file code icon"></i> {{include.loc}}
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <div class="eleven wide column">
        <div class="home__team__description">
            <p>
                {{include.description}}
            </p>
            <div class="ui internally celled three column grid home__team__grid">
                <div class="column grid home__team__grid__item">
                    <i class="users icon"></i> {{include.contributors}}
                </div>
                <div class="column home__team__grid__item">
                    <i class="lock open icon"></i> {{include.license}}
                </div>
                <div class="column home__team__grid__item">
                    <i class="file code icon"></i> {{include.loc}}
                </div>
            </div>
        </div>
    </div>
    <div class="five wide column home__team__img">
        <img class="ui centered medium rounded image" src="/img/{{include.img-src}}">
    </div>
    {% endif %}
</div>