<div class="ui {{include.color}} segment">
    <!-- Title -->
    <div class="ui stackable two column grid">
        <div class="column">
            <h2 class="ui header hero__header">
                <i class="{{include.icon}} icon"></i>
                <div class="content">
                    {{include.title}}
                    <div class="sub header">{{include.short-description}}</div>
                </div>
            </h2>
        </div>
        <div class="column home__team__actions">
            <a class="ui labeled icon {{include.color}} button" href="{{site.baseurl}}/{{include.docs-link}}">
                <i class="book icon"></i>
                Read the docs
            </a>
            <a class="ui labeled icon button" href="{{site.baseurl}}/{{include.contribute-link}}">
                <i class="code branch icon"></i>
                Contribute
            </a>
            <a class="ui labeled icon button" href="{{site.baseurl}}/{{include.discuss-link}}">
                <i class="comments icon"></i>
                Discuss
            </a>
        </div>

    </div>