<div class="ui blue segment">
    <!-- Title -->
    <div class="ui stackable two column grid">
        <div class="column">
            <h2 class="ui header hero__header">
                <i class="code icon"></i>
                <div class="content">
                    Software
                    <div class="sub header">Free and Open-Source Software for your Spacecraft</div>
                </div>
            </h2>
        </div>
        <div class="column software__actions">
            <button class="ui labeled icon primary button">
                <i class="book icon"></i>
                Read the docs
            </button>
            <button class="ui labeled icon button">
                <i class="code branch icon"></i>
                Contribute
            </button>
            <button class="ui labeled icon button">
                <i class="comments icon"></i>
                Discuss
            </button>
        </div>

    </div>

    <!-- Overview -->
    <h4 class="ui horizontal divider header">
        <i class="compass icon"></i>
        Overview
    </h4>
    <div class="ui stackable two column grid">
        <div class="five wide column software__img">
            <img class="ui centered medium rounded image" src="/img/home/software.jpg">
        </div>
        <div class="eleven wide column">
            <div class="software__description">
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Explicabo asperiores, adipisci corporis dolorum quos eum assumenda
                    quisquam, quae nostrum, quas nam ut cum dolor. In accusamus quasi molestias minus, fuga voluptatibus
                    dolore deleniti, earum omnis sapiente corporis quam deserunt quod nemo est! Suscipit omnis, incidunt
                    non nesciunt sapiente dicta eaque!
                </p>
                <div class="ui internally celled three column grid software__grid">
                    <div class="column grid software__grid__item">
                        <i class="users icon"></i> 1 Contributor
                    </div>
                    <div class="column software__grid__item">
                        <i class="lock open icon"></i> AGPL-3.0 (libre)
                    </div>
                    <div class="column software__grid__item">
                        <i class="file code icon"></i> 15k+ lines
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Projects -->
    <h4 class="ui horizontal divider header">
        <i class="chart line icon"></i>
        Trending projects
    </h4>

    <div class="software__projects">
        <div class="software__projects__cards">
            <a class="ui card" href="https://github.com/opensdcp/opensdcp-website">
                <div class="content">
                    <div class="header">opensdcp-website</div>
                    <div class="meta">Last update: 2 hours ago</div>
                    <div class="description">
                        Main website for all the OpenSDCP projects.
                    </div>
                </div>
            </a>
            <a class="ui card" href="https://github.com/opensdcp/opensnet-bridge-client">
                <div class="content">
                    <div class="header">opensnet-bridge-client</div>
                    <div class="meta">Last update: 5 days ago</div>
                    <div class="description">
                        Fast and minimal React frontend for an OpenSNET Bridge Server.
                    </div>
                </div>
            </a>
            <a class="ui card" href="https://github.com/opensdcp/opensdcp-infrastructure">
                <div class="content">
                    <div class="header">opensdcp-infrastructure</div>
                    <div class="meta">Last update: 5 days ago</div>
                    <div class="description">
                        Shared configuration files, scripts and documentation for the OpenSDCP project's infrastructure.
                    </div>
                </div>
            </a>
            <a class="ui card" href="https://github.com/opensdcp/opensdcp-design">
                <div class="content">
                    <div class="header">opensdcp-design</div>
                    <div class="meta">Last update: 28 day ago</div>
                    <div class="description">
                        All design files and mockups for the OpenSDCP repos.
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>