// Variable overrides
@import "custom";
// Bootstrap SCSS
@import "~bootstrap/scss/bootstrap";
// Landing page background image
body {
    // Center the background and make it full height
    background: url(/static/bg-landing-page.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 100vh; // Fix navigation bar glitches when scrolling with dynamic address bar (Chromium on mobile)
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}